### IDE ###
.idea
.vscode
.iml

### OS ###
.DS_Store
Thumbs.db

### Frontend ###
frontnode_modules
frontdist
front.env
front.env.
!front.env.example
!front.env..example

### Backend ###
backend.gradle
backendbuild
backend.env
backend.env.
!backend.env.example

backendupload
!backendupload.gitkeep

### Local TLS certificates ###
infracertsdev
!infracertsdev.gitkeep

### Logs ###
.log
logs