.custom-name-info {
    padding: 6px;
    font-size: 12px;
    color: white;
    background-color: #222;
    border-radius: 8px;
    /*transition: background-color 0.3s ease; !* 부드러운 전환 효과 *!*/
}

.custom-overlay {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background-color: white;
    font-family: 'Malgun Gothic', sans-serif;
}

.custom-title {
    position: relative;
    background-color: #3A3A3A;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-title .close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 14px;
}

.custom-body {
    padding: 10px;
    font-size: 13px;
    color: #333;
}

.custom-body .phone {
    margin-top: 5px;
    color: #288756;
}
.custom-body nav {
    margin-top: 5px;
}

$custom-infoWindow-z-index: 2;
div:has(.custom-infoWindow) {
    z-index: $custom-infoWindow-z-index !important;
}
.custom-infoWindow:after {
    content: '';
    position: absolute;
    bottom: -42px;
    left: 50%;
    width: 40px;
    height: 42px;
    background: url(@/assets/images/pannel_tooltip_arr.png) no-repeat 0 0;
    z-index: $custom-infoWindow-z-index;
}
